.dark{
    color: white;
    background-color: #000;
}
.center{
    text-align: center;
}
.verdana{
    font-family: verdana, serif;
}
.italic{
    font-style: italic;
}
.high-blue{
    background-color:blue;
}
.high-red{
    background-color:red;
}
.high-green{
    background-color:green;
}
.high-yellow{
    background-color:yellow;
}
.lining-1{
    letter-spacing: 4px;
}

.m-4{
    margin: 16px ;
}
.p-4{
    padding: 16px ;
}
